<!-- banner -->
<div class="inner_page_agile2">
    <h3>Contact</h3>
    <p>Add Some Short Description</p>

</div>
<!--//banner -->
<!--/w3_short-->
<div class="services-breadcrumb_w3layouts">
    <div class="inner_breadcrumb">

        <ul class="short_w3ls" _w3ls>
            <li><a href="#/">Home</a><span>|</span></li>
            <li>Contact</li>
        </ul>
    </div>
</div>
<!--//w3_short-->
<!-- /inner_content -->
<div class="inner_content_info_agileits">
    <div class="container">
        <div class="tittle_head_w3ls">
            <h3 class="tittle">Contact Us</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-4 agile_info_mail_img_info">
                <div class="address-grid">
                    <h4>Contact <span>Info</span></h4>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Telephone </p><span>011 462 4964</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Mail </p><a href="mailto:info@omic-consulting.co.za">info@omic-consulting.co.za</a>
                    </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Location</p><span>618 Aureole Ave, North Riding AH, Roodepoort, 2169</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="agileits_w3layouts_nav_right contact">
                       
                    </div>
                </div>
            </div>
            <div class="col-md-8 agile_info_mail_img">

            </div>
            <div class="clearfix"> </div>
            <div class="w3layouts_mail_grid">
                <form action="#" method="post">
                    <div class="col-md-6 wthree_contact_left_grid">
                        <input type="text" name="Name" ng-model="name" placeholder="First Name" required="">
                        <input type="text" name="Name" ng-model="surname" placeholder="Surname" required="">
                        <input type="email" name="Email" placeholder="Email"  ng-model="email"  required="">
                        <input type="text" name="Telephone" placeholder="Telephone" ng-model="cell" required="">
                        <!--<input type="text" name="Subject" placeholder="Subject" required="">-->
                    </div>
                    <div class="col-md-6 wthree_contact_left_grid">
                        <textarea name="Message" placeholder="Message..." ng-model="msg" required=""></textarea>
                        <input type="submit" value="Submit" ng-click="Submit()">
                    </div>
                    <h4>{{message}}</h4>
                    <div class="clearfix"> </div>

                </form>
            </div>


        </div>

    </div>
</div>