<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Improving workplace <span>Productivity.</span></h3>
                    <p>Hire. Train. Retain.</p>
                    
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Inspiring leadership <span>innovation.</span></h3>
                    <p>Hire. Train. Retain.</p>
                    
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Improving workplace <span>Productivity.</span></h3>
                    <p>Hire. Train. Retain.</p>
                    
                </div>
            </div>
        </div>
        <div class="item item4">
            <div class="container">
                <div class="carousel-caption">

                    <h3>Inspiring leadership <span>innovation.</span></h3>
                    <p>Hire. Train. Retain.</p>
                   
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="" data-target="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="" data-target="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- The Modal -->
</div>
<!--//banner -->
<!--/search_form -->
<div id="search_form" class="search_top" style="padding-left:12%">
    <h2>Start your job search</h2>
    <form action="#" method="post">
        <input type="text" name="Enter Keyword(s)" ng-model="selectedPosition" placeholder="Enter Role/Position" required="">
        <input class="email" name="Location" ng-model="selectedLocation" type="text" placeholder="Location" required="">
        <input type="submit" ng-click="Search()" value="Find Jobs">
        <div class="clearfix"></div>
    </form>
</div>
<!--//search_form -->
<!--<div class="banner-bottom">
    <div class="container">
        <div class="tittle_head_w3ls">
            <h3 class="tittle">About Us</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-6 banner_bottom_left">
                <h4>Employment opportunities for <span>Professionals</span></h4>
                <p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
                    pulvinar neque pharetra ac.</p>
                <p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
                    pulvinar neque pharetra ac.</p>
                <ul class="some_agile_facts">
                    <li><span class="fa fa-briefcase" aria-hidden="true"></span><label>80</label> Corporate Programs</li>
                    <li><span class="fa fa-graduation-cap" aria-hidden="true"></span><label>49</label> Training Courses</li>
                    <li><span class="fa fa-user" aria-hidden="true"></span><label>88</label> Strategic Partners</li>
                    <li><span class="fa fa-line-chart" aria-hidden="true"></span><label>436</label> Companies We Helped</li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 banner_bottom_right">
                <div class="agileits_w3layouts_banner_bottom_grid">
                    <img src="images/ab.png" alt=" " class="img-responsive" />
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>-->
<!-- //banner-bottom -->
<!-- services -->
<div class="services" id="services">
    <div class="container">
        <div class="tittle_head_w3ls">
            <h3 class="tittle">Selection Process</h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <div class="col-md-3 services-left">
                <div class="services-left-top">

                    <h5>Identify Need & Develop Position Description</h5>

                </div>
                <div class="services-left-top services-left-top1">

                    <h5>Recruitment Planning</h5>

                </div>
            </div>
            <div class="col-md-6 services-middle">
                <div class="services-middle-img">
                    <img src="images/process.jpg" alt="" />
                </div>
                <div class="services-middle-grids">
                    <div class="col-md-6 services-middle-left">
                        <div class="services-left-top">

                            <h5>Sourcing & Advertising</h5>

                        </div>
                    </div>
                    <div class="col-md-6 services-middle-left">
                        <div class="services-left-top">

                            <h5>Assess & Interview Candidates</h5>

                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-3 services-left">
                <div class="services-left-top">

                    <h5>Offer for Student Employment</h5>

                </div>
                <div class="services-left-top services-left-top1">

                    <h5>Onboarding for Success</h5>

                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //services -->