 
<div id="login">
  <div class="login-logo">
    <h2 style="color:black">Makhawini Portal</h2>
  </div>
  <h2 class="form-heading">Forgot Password</h2>
  <div class="app-cam">
	  <form>
		<input type="text" class="text" ng-model="email" value="E-mail address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}">
	 	<div class="submit"><input type="submit" ng-click="Submit()" value="Submit"></div>	 
        <p class="btn btn-warning" style="background-color:orange;color:white; border-color:orange;"  ng-click="Reset()">Reset</p>
	</form>
      <p style="color:red">{{message}}<a href="#/">Go Back</a></p>  
  </div>
   <div class="copy_layout login">
      <p>Copyright &copy; 2017 | Makhawini Portal </p>
   </div>
</div>
 