 
<div id="login">
  <div class="login-logo">
      <h2 style="color:black">Makhawini Portal</h2>
  </div>
  <h2 class="form-heading">Login</h2>
  <div class="app-cam">
	  <form>
		<input type="email" class="text" ng-model="email"placeholder="Email Address">
		<input type="password" ng-model="password" value="Password" placeholder="Password Here">
		<div class="submit"><input type="submit" ng-click="Login()" value="Login"></div> 
		<!--<div class="login-social-link">
          <a href="#/forgotpassword" class="facebook">
              Forgot Password
          </a>
          <a href="#/request" class="twitter">
              Register Account
          </a>
        </div>-->	 
	</form>
  </div>
   <div class="copy_layout login">
      <p>Copyright &copy; 2017 | Makhawini Portal </p>
   </div>
</div>
 