
<div id="login">
    <div class="login-logo">
        <h2 style="color:black">Makhawini Portal</h2>
    </div>
    <h2 class="form-heading">Update Password</h2>
    <div class="app-cam">
        <form>
            <input type="password" class="text" ng-model="password" placeholder="Enter Password">
            <input type="password" ng-model="passwordconfirm" placeholder="Confirm Password"/>
            <div class="submit"><input type="submit" ng-click="Submit()" value="Update"></div>           
        </form>
        <p style="color:red">{{message}}<a href="#/">Go Back</a></p>  
    </div>
    <div class="copy_layout login">
        <p>Copyright &copy; 2017 | Makhawini Portal </p>
    </div>
</div>
